* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;

    font-family: 'Karla', 'sans-serif';
    color: #2F2C43;
    background-color: #FAFAFB;

    font-size: 16px;
}


a {
    text-decoration: none;
    color: #2F2C43;
    font-size: 1rem;
}


a:hover {
    color: #3C16F9;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8%;

    max-width: 1366px;
}

.about-me {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-intro {
    padding-top: 24vh;
    margin-right: auto;
}

.main-intro h1 {

    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
    border-right: 4px solid #2F2C43;

    animation: typing 3.5s steps(40, end),
    blinking-caret 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #2F2C43
    }
}

.main-intro h3 {}

.footer-opressor {
    display: flex;
    flex: 1;
}

.main-nav {
    display: flex;
    width: 100%;

    margin-top: 24vh;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.main-nav li {
    padding: 0 2vw;
}

.main-nav li:last-child {
    padding-right: 0;
}

.work-section {
    margin-top: 24vh;
    max-width: 100%;
}

.grid {
    display: flex;    
    flex-wrap: wrap;
    flex-direction: row;

}

.cell {
    width: calc(100%/4);
    padding: 1em;
}

.cell img {
    display: block;
}

.resp-img {
    max-width: 100%;
}

@media all and (min-width: 320px) {
    h1 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .grid: {
        flex-direction: column;
    }

    .cell {
        width: 100%;
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }
    
    .cell {
        width: 50%;
    }
}

@media screen and (min-width: 1000px){
    .cell {
        width: calc(100%/3);
    }
}

