html,
body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

/* GLOBALS */

.container {
    width: 80%;
    display: flex;
    min-height: 540px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    box-sizing: border-box;
}

.particle-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 30vw;
    z-index: 1;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #2c3e50;
    margin: 0;
    padding-bottom: 8px;
}


header a {
    text-decoration: none;
    font-weight: 500;
    color: #2c3e50;
}


header i {
    color: #2c3e50;
    font-weight: 300;
    font-style: normal;
}

#about-me {
    display: flex;
    flex-direction: column;
    padding: 36px 0 36px 0;
}

#about-me i {
    font-weight: 500;
    font-style: normal;
}

#about-me h1 {
    font-weight: 300;
}

#about-me a {
    color: #2c3e50;
}

#about-me p {
    font-size: 24px;
    color: #2c3e50;
    margin: 0;
}

#copyright {
    font-weight: 300;
}

#more-me p {
    color: #2c3e50;
    margin: 0;
    padding-bottom: 12px;
}
